docker-pycreds==0.4.0
wandb==0.18.1
setproctitle==1.3.3
gitdb==4.0.11
GitPython==3.1.43
sentry-sdk==2.14.0
smmap==5.0.1
google-colab==1.0.0
sniffio==1.3.1
cuda-python==12.2.1
optree==0.12.1
ipywidgets==7.7.1
notebook_shim==0.2.4
partd==1.4.2
sortedcontainers==2.4.0
google-cloud-bigquery==3.25.0
pydot==3.0.1
tenacity==9.0.0
nbformat==5.10.4
pandas==2.1.4
zipp==3.20.2
wrapt==1.16.0
polars==1.6.0
pyzmq==24.0.1
cycler==0.12.1
spacy-loggers==1.0.5
parsy==2.1
tqdm==4.66.5
community==1.0.0b1
yellowbrick==1.5
etils==1.9.4
attrs==24.2.0
ipyfilechooser==0.6.0
tblib==3.0.0
joblib==1.4.2
intel-openmp==2024.2.1
ipython==7.34.0
pytest==7.4.4
pooch==1.8.2
exceptiongroup==1.2.2
googleapis-common-protos==1.65.0
pytz==2024.2
cudf-cu12==24.4.1
StrEnum==0.4.15
fastdownload==0.0.7
srsly==2.4.8
prometheus_client==0.20.0
annotated-types==0.7.0
opencv-python-headless==4.10.0.84
tabulate==0.9.0
numexpr==2.10.1
google-cloud-translate==3.15.5
nltk==3.8.1
aiohappyeyeballs==2.4.0
inflect==7.4.0
google-cloud-aiplatform==1.67.0
catalogue==2.0.10
wordcloud==1.9.3
distributed==2024.8.0
PyDrive2==1.20.0
tf-slim==1.1.0
sympy==1.13.2
datascience==0.17.6
tifffile==2024.8.30
frozendict==2.4.4
soupsieve==2.6
bqplot==0.12.43
proglog==0.1.10
portpicker==1.5.2
mizani==0.11.4
python-louvain==0.16
termcolor==2.4.0
mkl==2024.2.2
scikit-image==0.23.2
pyarrow-hotfix==0.6
tensorflow-metadata==1.15.0
pyviz_comms==3.0.3
mistune==0.8.4
python-box==7.2.0
py-cpuinfo==9.0.0
libclang==18.1.1
sentencepiece==0.1.99
h5netcdf==1.3.0
jieba==0.42.1
tensorflow-probability==0.24.0
marisa-trie==1.2.0
webencodings==0.5.1
numba==0.60.0
google-auth-httplib2==0.2.0
shellingham==1.5.4
fastrlock==0.8.2
orbax-checkpoint==0.6.4
prompt_toolkit==3.0.47
tensorflow==2.17.0
torch==2.4.1+cu121
pytensor==2.25.4
future==1.0.0
google-ai-generativelanguage==0.6.6
confection==0.1.5
pydotplus==2.0.2
geopy==2.4.1
mdit-py-plugins==0.4.2
google-cloud-firestore==2.16.1
rpds-py==0.20.0
defusedxml==0.7.1
ipyparallel==8.8.0
arviz==0.19.0
peewee==3.17.6
eerepr==0.0.4
albucore==0.0.16
librosa==0.10.2.post1
matplotlib-venn==1.1.1
SQLAlchemy==2.0.35
notebook==6.5.5
cachetools==5.5.0
locket==1.0.0
langcodes==3.4.0
beautifulsoup4==4.12.3
torchaudio==2.4.1+cu121
sphinxcontrib-jsmath==1.0.1
babel==2.16.0
torchvision==0.19.1+cu121
pyOpenSSL==24.2.1
gym==0.25.2
pyshp==2.3.1
tzdata==2024.1
dlib==19.24.2
jupyter_core==5.7.2
py4j==0.10.9.7
requests-oauthlib==1.3.1
scooby==0.10.0
tensorstore==0.1.65
kaggle==1.6.17
shapely==2.0.6
tensorflow-datasets==4.9.6
keras==3.4.1
webcolors==24.8.0
decorator==4.4.2
cupy-cuda12x==12.2.0
colour==0.1.5
cmdstanpy==1.2.4
httpimport==1.4.0
xgboost==2.1.1
widgetsnbextension==3.6.9
PyOpenGL==3.1.7
stanio==0.5.1
typeguard==4.3.0
soxr==0.5.0.post1
pandas-gbq==0.23.1
optax==0.2.2
itsdangerous==2.2.0
geocoder==1.38.1
safetensors==0.4.5
mdurl==0.1.2
mlxtend==0.23.1
gensim==4.3.3
ipython-sql==0.5.0
lazy_loader==0.4
sqlparse==0.5.1
spacy==3.7.6
jsonschema-specifications==2023.12.1
nbclient==0.10.0
python-slugify==8.0.4
flatbuffers==24.3.25
alabaster==0.7.16
PyYAML==6.0.2
plotly==5.15.0
pillow==10.4.0
httplib2==0.22.0
snowballstemmer==2.2.0
greenlet==3.1.0
filelock==3.16.1
cons==0.4.6
six==1.16.0
astropy-iers-data==0.2024.9.16.0.32.21
Markdown==3.7
tokenizers==0.19.1
cvxopt==1.3.2
yfinance==0.2.43
logical-unification==0.4.6
folium==0.17.0
toolz==0.12.1
more-itertools==10.5.0
importlib_metadata==8.5.0
jsonschema==4.23.0
requests==2.32.3
aiosignal==1.3.1
fastjsonschema==2.20.0
flax==0.8.4
urllib3==2.0.7
jupyter-server==1.24.0
tweepy==4.14.0
geographiclib==2.0
contextlib2==21.6.0
easydict==1.13
sphinxcontrib-applehelp==2.0.0
cloudpickle==2.2.1
prophet==1.1.5
imutils==0.5.4
debugpy==1.6.6
altair==4.2.2
google-api-python-client==2.137.0
ecos==2.0.14
Sphinx==5.0.2
grpcio==1.64.1
Jinja2==3.1.4
llvmlite==0.43.0
jupyter-console==6.1.0
gast==0.6.0
imagesize==1.4.1
miniKanren==1.0.3
promise==2.3
holidays==0.57
referencing==0.35.1
numpy==1.26.4
protobuf==3.20.3
ipytree==0.2.2
scikit-learn==1.3.2
yarl==1.11.1
holoviews==1.19.1
gym-notices==0.0.8
idna==3.10
spacy-legacy==3.0.12
moviepy==1.0.3
gcsfs==2024.6.1
einops==0.8.0
grpcio-status==1.48.2
psycopg2==2.9.9
pandas-datareader==0.10.0
accelerate==0.34.2
websocket-client==1.8.0
google-resumable-media==2.7.2
google-generativeai==0.7.2
tensorboard-data-server==0.7.2
proto-plus==1.24.0
typing_extensions==4.12.2
tables==3.8.0
imageio-ffmpeg==0.5.1
oauth2client==4.1.3
progressbar2==4.5.0
sphinxcontrib-devhelp==2.0.0
aiohttp==3.10.5
certifi==2024.8.30
graphviz==0.20.3
frozenlist==1.4.1
eval_type_backport==0.2.0
pyperclip==1.9.0
pathlib==1.0.1
tensorflow-hub==0.16.1
murmurhash==1.0.10
PyDrive==1.3.1
h5py==3.11.0
blosc2==2.0.0
multidict==6.1.0
pydantic==2.9.2
cymem==2.0.8
pluggy==1.5.0
prefetch_generator==1.0.3
google-cloud-resource-manager==1.12.5
gspread==6.0.2
fsspec==2024.6.1
bleach==6.1.0
networkx==3.3
nvidia-nccl-cu12==2.23.4
cryptography==43.0.1
Flask==2.2.5
rich==13.8.1
Cython==3.0.11
terminado==0.18.1
tbb==2021.13.1
array_record==0.5.1
pymystem3==0.2.0
geemap==0.34.2
jsonpickle==3.3.0
google-cloud-functions==1.16.5
traittypes==0.2.1
pyarrow==14.0.2
opt-einsum==3.3.0
google-cloud-bigtable==2.26.0
immutabledict==4.2.0
jupyter-leaflet==0.19.2
python-utils==3.8.2
pydantic_core==2.23.4
hyperopt==0.2.7
google-pasta==0.2.0
sphinxcontrib-serializinghtml==2.0.0
humanize==4.10.0
ipython-genutils==0.2.0
GDAL==3.6.4
lightgbm==4.5.0
et-xmlfile==1.1.0
db-dtypes==1.3.0
openpyxl==3.1.5
qdldl==0.1.7.post4
PySocks==1.7.1
vega-datasets==0.9.0
multitasking==0.0.11
python-dateutil==2.8.2
autograd==1.7.0
editdistance==0.8.1
traitlets==5.7.1
statsmodels==0.14.3
nvtx==0.2.10
missingno==0.5.2
fastprogress==1.0.3
google-cloud-iam==2.15.2
ratelim==0.1.6
ipykernel==5.5.6
intel-cmplr-lib-ur==2024.2.1
pandocfilters==1.5.1
imageio==2.35.1
html5lib==1.1
cvxpy==1.5.3
tinycss2==1.3.0
charset-normalizer==3.3.2
uritemplate==4.1.1
docstring_parser==0.16
contourpy==1.3.0
google-cloud-bigquery-storage==2.26.0
threadpoolctl==3.5.0
glob2==0.7
rpy2==3.4.2
pexpect==4.9.0
opencv-python==4.10.0.84
sphinxcontrib-htmlhelp==2.1.0
cffi==1.17.1
matplotlib-inline==0.1.7
scipy==1.13.1
text-unidecode==1.3
textblob==0.17.1
gdown==5.1.0
chex==0.1.86
jupyter-client==6.1.12
Werkzeug==3.0.4
geopandas==1.0.1
google-crc32c==1.6.0
wcwidth==0.2.13
tensorboard==2.17.0
toml==0.10.2
chardet==5.2.0
pydot-ng==2.0.0
argon2-cffi==23.1.0
pyproj==3.6.1
tornado==6.3.3
albumentations==1.4.15
docutils==0.18.1
pycparser==2.22
matplotlib==3.7.1
fastcore==1.7.8
atpublic==4.1.0
iniconfig==2.0.0
async-timeout==4.0.3
rmm-cu12==24.4.0
imbalanced-learn==0.12.3
pyerfa==2.0.1.4
google-auth==2.27.0
natsort==8.4.0
google-api-core==2.19.2
sklearn-pandas==2.2.0
google-cloud-bigquery-connection==1.15.5
google-auth-oauthlib==1.2.1
opencv-contrib-python==4.10.0.84
nest-asyncio==1.6.0
colorcet==3.1.0
osqp==0.6.7.post0
bigframes==1.17.0
lxml==4.9.4
argon2-cffi-bindings==21.2.0
en-core-web-sm==3.7.1
earthengine-api==1.0.0
googledrivedownloader==0.4
music21==9.1.0
scs==3.2.7
MarkupSafe==2.1.5
jaxlib==0.4.26+cuda12.cudnn89
CacheControl==0.14.0
pyasn1==0.6.1
jellyfish==1.1.0
jupyterlab_widgets==3.0.13
google==2.0.3
importlib_resources==6.4.5
pygame==2.6.0
mpmath==1.3.0
imgaug==0.4.0
nibabel==5.2.1
etuples==0.3.9
parso==0.8.4
torchsummary==1.5.1
pyparsing==3.1.4
cmake==3.30.3
entrypoints==0.4
platformdirs==4.3.6
grpc-google-iam-v1==0.13.1
xarray==2024.9.0
psutil==5.9.5
preshed==3.0.9
pyogrio==0.9.0
google-cloud-datastore==2.19.0
audioread==3.0.1
huggingface-hub==0.24.7
rsa==4.9
pydata-google-auth==1.8.2
nbconvert==6.5.4
anyio==3.7.1
cufflinks==0.17.3
tf_keras==2.17.0
namex==0.0.8
oauthlib==3.2.2
weasel==0.4.1
sqlglot==20.11.0
zict==3.0.0
absl-py==1.4.0
pymc==5.16.2
thinc==8.2.5
regex==2024.9.11
uc-micro-py==1.0.3
Pygments==2.18.0
typer==0.12.5
jupyterlab_pygments==0.3.0
google-cloud-pubsub==2.23.1
bidict==0.23.1
bokeh==3.4.3
sphinxcontrib-qthelp==2.0.0
jax==0.4.26
plotnine==0.13.6
transformers==4.44.2
pynvjitlink-cu12==0.3.0
dask==2024.8.0
simple-parsing==0.1.6
patsy==0.5.6
astunparse==1.6.3
smart-open==7.0.4
kagglehub==0.2.9
tensorflow-io-gcs-filesystem==0.37.1
panel==1.4.5
ipyleaflet==0.19.2
google-cloud-storage==2.8.0
astropy==6.1.3
gin-config==0.5.0
backcall==0.2.0
nbclassic==1.1.0
Send2Trash==1.8.3
pandas-stubs==2.1.4.231227
pickleshare==0.7.5
soundfile==0.12.1
google-cloud-language==2.13.4
colorlover==0.3.0
duckdb==1.1.0
xarray-einstats==0.7.0
msgpack==1.0.8
multipledispatch==1.0.0
tzlocal==5.2
fonttools==4.53.1
pyasn1_modules==0.4.1
bigquery-magics==0.2.0
ml-dtypes==0.4.1
kiwisolver==1.4.7
PyJWT==2.9.0
xyzservices==2024.9.0
ptyprocess==0.7.0
types-pytz==2024.2.0.20240913
xlrd==2.0.1
ipyevents==2.0.2
wasabi==1.1.3
firebase-admin==6.5.0
google-cloud-core==2.4.1
param==2.1.1
cloudpathlib==0.19.0
language_data==1.2.0
dm-tree==0.1.8
seaborn==0.13.1
ibis-framework==8.0.0
clarabel==0.9.0
branca==0.7.2
dopamine_rl==4.0.9
linkify-it-py==2.0.3
prettytable==3.11.0
gspread-dataframe==3.3.1
blis==0.7.11
pycocotools==2.0.8
markdown-it-py==3.0.0
fastai==2.7.17
python-apt==2.4.0
types-setuptools==75.1.0.20240917
setuptools==71.0.4
requirements-parser==0.9.0
build==1.2.2
packaging==24.1
pip==24.1.2
tomli==2.0.1
click==8.1.7
pip-tools==7.4.1
pyproject_hooks==1.1.0
wheel==0.44.0
lazr.uri==1.0.6
SecretStorage==3.3.1
wadllib==1.3.6
jeepney==0.7.1
keyring==23.5.0
lazr.restfulclient==0.14.4
blinker==1.4
python-apt==2.4.0+ubuntu4
PyGObject==3.42.1
dbus-python==1.2.18
launchpadlib==1.10.16
six==1.16.0
distro==1.7.0
